<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample Site</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <style>
        body { padding-top:50px; }
    </style>
</head>
<body>

    <div class="container">
        <div class="jumbotron">
            <h1>Welcome to Iot-Project</h1>
            <ul>
                <li>
                    <a href="/api/led">/api/led</a>
                </li>
                <li>
                    <a href="/api/ultra">/api/ultra</a>
                </li>
                <li>
                    <a href="/api/temp-hum">/api/temp-hum</a>
                </li>
            </ul>
            <br>
            <p>Made by Anders & Jesper</p>
        </div>
    </div>
    
</body>
</html>